body {
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header {
    background: #eaeaea;
    height: 100px;
}

.header .logo {
    background: url(../img/logo.png) center center no-repeat;
    width: 50px;
    height: 50px;
    margin: 25px 0 0 50px;
}

.header .menu {
    margin: 25px 50px 0 0;
}

.menu {
    font-size: 0;
}

.menu li {
    display: inline-block;
}

.menu li a {
    padding: 0 20px;
    display: block;
    height: 50px;
    color: #1A237E;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
}

.menu li a:hover {
    color: #009688;
}

.menu li a:active {
    color: #F44336;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h1,
h2,
h3 {
    color: black;
    background-color: #eaeaea;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

.main_photos {
    text-align: center;
}

.main_photos img {
    width: 20%;
}

.marketdescription {
    text-align: center;
}

.description * {
    box-sizing: border-box;
}

.description h3 {
    margin-left: 30%;
}

.description .photos {
    margin-right: 30px;
    width: 30%;
}

.description .photos a {
    padding: 5px;
    float: left;
    display: block;
    width: 50%;
}

.description .photos a:first-child {
    padding-bottom: 0;
    width: 100%;
}

.description .photos img {
    outline: 5px solid #eaeaea;
    border-radius: 2px;
    width: 100%;
}

.description .photos img:hover {
    outline: none;
}

.btn {
    cursor: pointer;
    outline: 0;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 36px;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
        0 2px 2px 0 rgba(0, 0, 0, .14),
        0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn:hover {
    background: rgba(0, 0, 0, .04);
}

.btn:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
        0 8px 10px 1px rgba(0, 0, 0, .14),
        0 3px 14px 2px rgba(0, 0, 0, .12);
}

.short_text {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full_text {
    color: #484343;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.short_text:first-letter,
.full_text:first-letter {
    font-family: "Verdana", sans-serif;
    color: #1A237E;
    font-size: 32px;
}

.complect_table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.complect_table tr td {
    height: 30px;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

.complect_table tr:first-child td {
    text-align: center;
    padding: 10px;
    height: 45px;
    font-size: 120%;
}

.specifications-title {
    color: #1A237E;
}

.specifications-list li {
    color: #3F51B5;
    height: 35px;
    list-style-image: url(../img/marker.png);
}

.car-list * {
    box-sizing: border-box;
}

.car-list .car-item-wrap {
    padding: 10px;
    float: left;
    width: 33.3%;
}

.car-list .car-item-wrap .car-item {
    padding: 2px;
    display: block;
    text-align: center;
    color: #3F51B5;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
        0 2px 2px 0 rgba(0, 0, 0, .14),
        0 1px 5px 0 rgba(0, 0, 0, .12);
}

.car-list .car-item-wrap .car-item:hover {
    background: rgba(0, 0, 0, .04);
}

.car-list .car-item-wrap .car-item p {
    padding: 10px;
    margin: 0;
}

.car-list .car-item img {
    width: 100%;
}

#subscribe_form {
    text-align: center;
}

#subscribe_form input,
#subscribe_form textarea {
    color: #1A237E;
    width: 50%;
    line-height: 30px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: capitalize;
}

#subscribe_form input:focus:not(.btn),
#subscribe_form textarea:focus {
    color: #2196F3;
    outline: 1px solid #2196F3;
    background: #BBDEFB;
}

#subscribe_form .btn {
    width: 35%;
}

#subscribe_form .btn.reset {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#subscribe_form .btn.success {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#subscribe_form .success {
    color: #009688;
}

#subscribe_form .reset {
    color: #F44336;
}

.address-list li {
    text-align: center;
    list-style-position: inside;
    height: 30px;
    line-height: 30px;
}

.address-list .telephone {
    list-style-image: url(../img/phone.png);
}

.address-list .address {
    list-style-image: url(../img/address.png);
}

.address-list .email {
    list-style-image: url(../img/email.png);
}


.footer {
    padding: 50px;
    height: 50px;
    background: #3F51B5;
    color: #E8EAF6;
}

.copyright {
    height: 50px;
    line-height: 50px;
}
